
    <div class="search-info-container ">
      <h2>Buscar Información</h2>
      <div class="search-bar">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Escribe para buscar..." />
        <button mat-icon-button (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="analisis()">
          <mat-icon>Analisis de Sentiminetos</mat-icon>
        </button>
      </div>
  

      <!-- Mostrar resultados -->
      <div *ngIf="results.length > 0" class="results">
        <h3>Resultados:</h3>
        <ul>
          <li *ngFor="let result of results">
            <a [href]="result.link" target="_blank">{{ result.title }}</a>
            <p>{{ result.description }}</p>
          </li>
        </ul>
      </div>
      <div *ngIf="results.length === 0 && searchExecuted">
        <p>No se encontraron resultados.</p>
      </div>



