<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar con Angular Material -->

    <div class="main-content">
      <h2>Buscar Información</h2>
      <div *ngIf="results.length > 0" class="results">
        <h3>Resultados:</h3>
        <ul>
          <li *ngFor="let result of results">
            <a [href]="result.link" target="_blank">{{ result.title }}</a>
            <p>{{ result.description }}</p>
          </li>
        </ul>
      </div>
      <div *ngIf="results.length === 0 && searchExecuted">
        <p>No se encontraron resultados.</p>
      </div>
    </div>
</mat-sidenav-container>


