<div class="app-container">
  <header class="app-header">
    <mat-toolbar color="primary" class="toolbar">
      <div class="left-section">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon class="white-icon">menu</mat-icon>
        </button>
      </div>

      <div class="center-section">
        <span class="title">{{ title }}</span>
      </div>

      <div class="right-section">
        <button mat-icon-button>
          <mat-icon class="white-icon">login</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="white-icon">settings</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </header>

  
  <div class="content">
    <mat-sidenav-container class="sidenav-container">
      <!-- Barra lateral -->
      <mat-sidenav
        #sidenav
        class="sidebar"
        mode="side"
        [opened]="isSidebarOpen"
        [fixedInViewport]="true"
        (closedStart)="isSidebarOpen = false"
      >
        <h2>Filtros</h2>
        <div *ngFor="let filter of filtersData" class="filter-section">
          <h5>{{ filter.type | titlecase }}</h5>
          <div *ngFor="let option of filter.options">
            <mat-checkbox [(ngModel)]="option.selected">{{ option.name }}</mat-checkbox>
          </div>
        </div>
      </mat-sidenav>

      <!-- Contenido principal -->
      <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
