
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* General layout */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar styles */
.app-header {
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: margin-left 0.3s ease;
}

.navbar-shift {
  margin-left: 20px; /* Ajusta el margen cuando la sidebar está abierta */
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: white;
}

/* Navbar sections */
.left-section {
  display: flex;
  align-items: center;
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* Ajustes para la sidebar */
.sidebar {
  padding: 20px;
  width: 250px;
  background-color: #f4f4f4; /* Fondo de la barra lateral */
  position: relative; /* Asegura que el contenido se mantenga dentro de la barra lateral */
  height: 100%; /* Asegura que la sidebar cubra toda la altura */
}

.sidebar-header {
  margin-bottom: 20px;
  padding-top: 20px; /* Espacio adicional desde la parte superior */
}

.sidebar-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #333; /* Color del texto */
  display: block;
  text-align: left; /* Alineación a la izquierda */
}

/* Ajustes en el contenedor de la barra lateral */
.sidenav-container {
  margin-top: 64px; /* Altura de la navbar */
  height: calc(100% - 64px);
  display: flex;
  justify-content: flex-start;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-shift {
    margin-left: 0;
  }

  .sidenav-container {
    margin-top: 56px; /* Ajusta altura de la navbar en pantallas pequeñas */
  }

  .sidebar {
    width: 250px;
  }

  .main-content {
    padding: 8px;

  }
}

.white-icon {
  color: white; /* Cambia el color del ícono a blanco */
  background-color: #3f51b5; /* Fondo azul, igual al color primary */
  border-radius: 50%; /* Para hacer el fondo circular */
  padding: 8px; /* Ajusta el padding para que el fondo no quede tan pequeño */
}

